streamlit==1.22.0
numpy==1.24.3
opencv-python-headless==4.7.0.72
Pillow==9.5.0
pytesseract==0.3.10
pdf2image==1.16.3
streamlit-drawable-canvas==0.9.3
pandas==1.5.3
openpyxl==3.1.2
protobuf==3.20.3  # Versión compatible con Streamlit Cloud